{% extends 'vegas/basic.html'%}
{% load static %}
{% block title %} home {% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="{%static 'css/home.css'%}"> {% endblock %}
{% block body %}

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{%static 'images/home1.jpg'%}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Welcome To Vegas Restaurant</h5>
        <p>This is your own first Vegas Restaurant and enjoy our respective services.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{%static 'images/home2.jpg'%}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Welcome To Vegas Restaurant</h5>
        <p>This is your own first Vegas Restaurant and enjoy our respective services.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{%static 'images/home3.jpg'%}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Welcome To Vegas Restaurant</h5>
        <p>This is your own first Vegas Restaurant and enjoy our respective services.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="srtmsg">
  <h3>We Are Now Serving Authentic Indo-Chinese Food</h3>
</div>
<div class="srtintro">
  <div class="row">
    <img src="{%static 'images/introhome.jpg'%}">
    <div class="con-div">
      <h2>OUR STORY</h2><br>
      <p class="row-p">At Vegas Indian Restaurant, we offer distinctive cuisine in an informal, friendly setting. Our restaurant enjoys a reputation for impeccable service, elegant Asian-style décor, and exquisite Indian food. Dining at our restaurant is like visiting India without leaving your hometown–an exciting blend of authentic Indian food, culture, and atmosphere awaits.</p><br>
      <div class="intro-btn"><div><a href="about">Know More About Us</a></div></div>
    </div>
  </div>
</div>
<div class="srtmenu">
  <br><br>
  <h2>OUR MENU</h2>
  <div class="afh2"></div>
  <br><br>
  <img src="{%static 'images/menu1.jpg'%}" class="mimg">
  <div class="m-p"><p>Vegas Restaurant is the ideal location for whatever the occasion; a casual get together, a special occasion or group dining. We are equipped with the very best equipments for outdoors and our massive production line enables us to produce food for up to 2000 people.</p></div>
  <div class="intro-btn mbtn"><div><a href="menu">Check Our Full Menu</a></div></div>
</div>
<div style="height: 50px"></div>
{% endblock %}
{% block js %} <script type="text/javascript" src="{%static 'javascript/home.js'%}"></script> {% endblock %}