.home{
	font-size: 18px;
    color: red;
    border-bottom: 4px solid red;
}
#active{
	margin-top: 5px;
}
#fhome{
	color: red;
	border-bottom: 4px solid red;
}
.w-100{
	max-height: 430px;
}
.carousel-caption h5{
	font-size: 2rem;
	color: crimson;
    background: radial-gradient(black, transparent);
}
.carousel-caption p{
	text-decoration-line: overline;
	color: orange;
    background: radial-gradient(black, transparent);
}
.srtmsg{
	min-height: 100px;
	background-image: url("../images/backg1.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.srtmsg h3{
	padding: 33px 100px;
}
.srtintro{
	min-height: 100px;
	background-image: url("../images/back2.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.srtintro div img{
	max-width: 500px;
	max-height: 400px;
	margin-right: 50px;
	box-shadow: 0px 0px 10px 2px black;
}
.row{
	padding: 50px;
	margin: 0px;
}
.con-div h2{
	color: darkslategray;
    border-bottom: 4px solid #9a960a;
    font-weight: 600;
}
.row-p{
	width: 100%;
	line-height: 30px;
	font-weight: 500;
}
.con-div{
	max-width: 50%;
}
.intro-btn{
	background-color: black;
	float: right;
	min-height: 50px;
	min-width: 250px;
	font-size: 20px;
}
.intro-btn a{
	color: white;
	text-decoration: none;
	font-family: 'Poppins',sans-serif;
}
.intro-btn:hover{
	background-color: red;
}
.intro-btn div{
	margin: 10px 20px;
}
.srtmenu{
	text-align: center;
	min-height: 500px;
}
.srtmenu h2{
	text-align: center;
	color: red;

}
.srtmenu div p{
	max-width: 50%;
	font-weight: 500;
	line-height: 30px;
	display: inline-block;
	font-size: 20px;
	float: left;
}
.mimg{
	width: 330px;
	height: 330px;
	float: left;
	border-radius: 10% 20% 50% 10%;
	margin-left: 50px;
	box-shadow: -3px 5px 2px 2px indianred;
}
.afh2{
	width: 100px;
	border: 2px solid black;
	display: inline-block;
}
.mbtn{
	margin-right: 200px;
	margin-top: 50px;
}